
 
<extend name="Base/common"/>
<style type="text/css">
     .content{
        width: 900px;
        height: 100px;
        background-color: #000;
     }
</style>
<block name="body">


<div style="margin-top:10px;" >
   <div style="width:374px;height:342px;border: 1px solid #BABABA;margin-right:30px;float:left;">
         <div style="height:40px; width:372px; border-bottom:1px soild  #BABABA ; background-color:#ccc;">目标1</div>
         <div style="width:372px; height:300px;">
              <div style="width:352px; height:300px;float:left;">
                aaaaaaaaaaaaaaa
              </div>
              <div style="width:20px; height:300px;background:#ccc;display:block;float:left;
              border-top: 1px solid #BABABA;"></div>
         </div>
   </div>
   <div style="width:374px;height:342px;border: 1px solid #BABABA;float:left;">
         <div style="height:40px; width:372px; border-bottom:1px soild  #BABABA ; background-color:#ccc;">目标2</div>
         <div style="width:372px; height:300px;">
              <div style="width:352px; height:300px;float:left;"></div>
              <div style="width:20px; height:300px;background:#ccc;display:block;float:left;
              border-top: 1px solid #BABABA;"></div>
         </div>
   </div>
</div>



</block>